#main{
      background: grey;
      overflow: hidden;
      position: relative;
      }

#finish_main{
      background: grey;
      overflow: hidden;
      position: relative;
      }

#blue_main{
      background: grey;
      background: #5089F2;
      overflow: hidden;
      position: relative;
      }

#red_main{
      background: grey;
      background: #F64B5A;
      overflow: hidden;
      position: relative;
      }

.z_index{
      z-index: 100;
        }

#display{
      height: 23%;
      width: 50%;
	    border: solid 2px white;
      left: 3%;
      bottom: 4%;
      background: white;
      position: absolute;
      }

.blue{
    width: 50%;
    background: #5089F2;
	  left: 0px;
	  position: absolute;
    height: 100%;
    }

.red{
    width: 50%;
	  right: 0px;
	  position: absolute;
    background: #F64B5A;
    height: 100%;
    }

.box1{
      background: #5089F2;
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      color: white;
      }

.box2{
      background: #F64B5A;
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0px;
      right: 0px;
      }

.blue_team{
          background: #5089F2;
          width: 50%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          text-align: center;
          color: white;
          font-family: fantasy;
          padding: 23% 2% 2% 2%;
          font-size: 5em;
          }

.red_team{
          background: #F64B5A;
          width: 50%;
          height: 100%;
          position: absolute;
          top: 0px;
          right: 0px;
          text-align: center;
          color: white;
          font-family: fantasy;
          padding: 23% 2% 2% 2%;
          font-size: 5em;
          }

.box1:hover,.box2:hover{
          opacity: 0.6
          }

.box {
    padding: 10px;
    background: blue;
    }

.admin{
      text-align: center;
      margin-top: 23%;
      }

.button {
      padding: 19px 100px;
      background: yellow;
      border: 2px solid purple;
      display: inline-block;
      cursor:pointer;
        }

/* DON'T DELETE THIS */

html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 20px;
  font-family: arial;
}

/* Clear Float */

.cf:before,.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
